{
    "ECOUNT_BASE_URL": "https://sboapi.ecount.com",
    "ECOUNT_ZONE_ID": "CD",
    "ECOUNT_COM_CODE": "654604",
    "ECOUNT_API_ID": "황연걸",
    "ECOUNT_API_KEY": "15ee97dcdecd742c1bdad909401791dec5",
    "ECOUNT_LANG_TYPE": "ko-KR",
    "ECOUNT_CUSTOM_PATH": "/OAPI/V2/ItemList",
    "ECOUNT_CUSTOM_BODY": {
      "COM_CODE": ""
    }